@font-face {
  font-family: 'BYekan';
  src: url('BYekan.eot?#') format('eot'),  /* IE6–8 */
	   url('BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	   url('BYekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
body {
	background: #f8f8f8;
	overflow: hidden;
	background-color: #ffffff;
	background-image: url(bright-squares.png);
	display: flex;
	justify-content: center;
	flex-direction: column;
}
body:after{
	content: '';
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	height: 100%;
	background: rgba(255,255,255,0.1);
	z-index: 1;
	float: right;
	margin: 0;
	padding: 0
}
html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
* {
	direction: rtl;
	font-family: 'BYekan';
}
p {
	margin: 6px;
	line-height: 26px;
}
span {
	width: 100%;
	float: right;
	font-size: 13px;
	opacity: 0.75;
	color: #d30000;
}
table {
	border-collapse:collapse;
	border: none;
}
#buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*padding: 20px;*/
}
h1 {
	margin: 0;
	width: 100%;
	padding: 8px;
	text-align: center;
	background: rgba(0,0,0,0.08);
	z-index: 200;
	top: 0;
	float: right;
	color: #444;
	margin-bottom: 18px;
	border-bottom: solid 2px rgba(0,0,0,0.25);
	position: fixed;
    line-height: 32px;
}
#dooz {
	margin: 0 auto;
	text-align: center;
	z-index: 20;
	position: relative;
	padding-top: 70px;
}
td {
	background-color: rgba(0,0,0,0.025);
	font-size: 80px;
	color: #d30000;
	border-radius: 50%;
	margin: 5px;
	float: right;
	border: solid 2px rgba(0,0,0,0.18);
	transition: all 0.4s;
	font-family: arial;
	width: 100px;
	height: 100px;
}
td:hover,td.selected {
	border-color: #d30000;
	cursor: pointer;
}
button {
outline: none;
	background: transparent;
	border: solid 1.5px rgba(0,0,0,0.12);
	padding: 4px 14px;
	border-radius: 25px;
	color: #444;
	margin-bottom: 10px;
	transition: all 0.4s;
	margin: 4px 10px;
}
button:hover{
	background: #d30000;
	cursor: pointer;
	color: #fff;
}
