<html>

  <head>
    <meta charset="UTF-8">
    <title>Tornado Login - todolist Project</title>
    <link rel="stylesheet" href="{{ static_url("styles.css") }}" type="text/css">
  </head>
<body>
	<div id="main-div">
	    <h1>Register Form</h1>
	    <FORM ACTION="/create" METHOD=POST>
	    Name:   <input type="text" name="name" placeholder="Name">
	    Password:  <input type="text" name="password" placeholder="Password">
	            <input type="submit" value="Add" name="Submit"/>
	    </FORM>
	</div>
</body>

</html>
